.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        border: 10px solid #5e9fdb;
        padding: 20px;
        border-radius: 15px;
        input{
            margin: 5px 0;
            font-size: 15px;
            padding: 10px;
        }
        button{
            background-color: #5e9fdb;
            color: white;
            font-weight: bold;
            padding: 10px 0;
            margin-top: 10px;
            border: 1px white solid;
            &:active {
                transform: translateY(4px);
            }
        }
    }
}